## Kiểm tra và lọc dữ liệu trong file excel

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(pd.read_excel("C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/AgePrediction/data/BVC_Voice_Bio_Public.xlsx"))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   New_ID      560 non-null    int64
 1   Sex         560 non-null    object
 2   Age         560 non-null    int64
 3   Ethnicity   560 non-null    object
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  8 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 26.4+ KB

In [3]:
df['Age'].value_counts()

Age
18    84
19    70
20    58
17    51
22    50
21    50
24    38
23    36
25    20
16    18
26    14
28    11
31     7
29     7
27     6
30     4
15     4
35     4
32     4
33     3
40     2
43     2
37     2
36     2
57     2
56     1
50     1
45     1
65     1
34     1
54     1
48     1
38     1
41     1
51     1
14     1
Name: count, dtype: int64

In [4]:
df = df.drop(columns=['Unnamed: 4', 'Unnamed: 5','Ethnicity','Sex'])
df.nunique()

New_ID    560
Age        36
dtype: int64

In [5]:
value_counts = df['Age'].value_counts()

to_remove = value_counts[value_counts <= 10].index

df = df[~df.Age.isin(to_remove)]

In [6]:
df['Age'].value_counts()

Age
18    84
19    70
20    58
17    51
22    50
21    50
24    38
23    36
25    20
16    18
26    14
28    11
Name: count, dtype: int64

In [7]:
df.nunique()

New_ID    500
Age        12
dtype: int64

In [8]:
unique_items = df['Age'].unique().tolist()
unique_items

[19, 23, 18, 17, 26, 24, 22, 20, 25, 21, 28, 16]

In [9]:
df.head(5)

   New_ID  Age
0    4001   19
1    4002   23
2    4003   18
3    4004   23
4    4005   17

## Tạo thư mục data

In [2]:
import shutil
import os

In [11]:
# # Đếm số lượng file
# DIR = 'C:/Users/ASUS TUFF/Desktop/Python_pj/Data/VoiceGenderClassification/multiple_sentences'
# print(len([name for name in os.listdir(DIR) if os.path.isfile(os.path.join(DIR, name))]))

1778

In [7]:
# Tạo file cho các class
def CreateFileInDir(dir, names):
    for name in names:
        folder_path = os.path.join(dir, name)
        if not os.path.exists(folder_path):
            os.makedirs(folder_path)

In [13]:
dir = 'C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/Data/VoiceGenderClassification/Train'
names = list(map(str, unique_items))
CreateFileInDir(dir, names)

In [14]:
# Chia file vào các folder
dirs = ['C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/Data/VoiceGenderClassification/multiple_sentences',
       'C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/Data/VoiceGenderClassification/one_sentence',
       'C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/AgePrediction/data/S_02_voice/multiple_sentences']
for dir in dirs:
    for file in os.listdir(dir):
        filtered_df  = df[df['New_ID'] == int(file[5:9])]
        if not filtered_df.empty:
            file_to_copy = dir+ '/' + file
            destination_directory = 'C:/Users/ASUS TUFF/Desktop/Python_pj/VoiceClassification/Data/VoiceGenderClassification/Train/' + str(filtered_df['Age'].values[0])
            shutil.copy(file_to_copy, destination_directory)

In [15]:
filtered_df = df[df['New_ID'] == 4921]
if not filtered_df.empty:
    print('tuổi: ' + str(filtered_df['Age'].values[0]))

tuổi: 28